body{
    background-color: rgb(43, 52, 53);
}


ul{

    float: right;
    margin: 10px 30px;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-decoration: none;
    margin: 10px 10px;
    border: 1px solid rgb(41, 37, 37);
    color: blueviolet;
    transform: 0.6s ease;
}
ul li a:hover{
    background-color: cornflowerblue;
    color: cornsilk;
}
.btn{
    border: 2px solid #fff;
    border-radius: 1em;
    
}
.logo img{
    float: left;
    height: auto;
    width: 70px;
}
.text{
    position: absolute;
    float: right;
    margin: 200px 200px;
}
.text p{
    text-align: center;
    color: cyan;
    font-size: 30px;
    font-style: oblique;
}
.button1{
    float: left;
    margin: 400px 250px;
}
.btn{
    border: 2px solid #fff;
    border-radius: 1em;
    color: darkgrey;
    text-decoration: none;
    transform: 0.6s ease;
    
}
.btn:hover{
    background-color: darkmagenta;
    color: darkturquoise;
}
.buttonv{
    float: left;
    margin: 400px 300px;
}
